* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html,
  body {
    color: whitesmoke;
    background-color: rgb(26, 25, 25);
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
    width: auto;
    max-width: 100vw;
  }

  


/* --- Reuse --- */

a { 
    color: inherit;
    text-decoration: none; 
} 

.borderBottom {
    margin: 10px 0px 30px 0px;
    border-bottom: 1px solid rgb(199, 167, 109);
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

.borderBottomSolid {
    margin: 10px 0px 30px 0px;
    border-bottom: 2px solid rgb(199, 167, 109);
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

  /* --- Header --- */

.topBannerMain {
    display: flex;
    background-color: black;
    font-weight: 500;
    height: 10%;
    width: auto;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 450px) { 
.topBannerMain {
    font-size: 15px;
}
}

.headerNumber {
    color: #c4a46a;
    font-weight: 600;
    margin-left: 0.5%;
}

@media screen and (max-width: 800px) { 
.headerNumber {
    margin-left: 1.5%;
}
}

@media screen and (max-width: 450px) { 
.headerNumber {
    margin-left: 2%;
}
}

  .headerPic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.570),rgba(255, 255, 255, 0.570)), url(./img/housecoffee-header.jpg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 450px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* --- Nav --- */

.navFlex {
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    flex-direction: column;


}  

.navMain {
    height: 100%;
    width: auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
} 

.navLink {
    height: 100%;
    width: auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.mainLogo {
    height: 300px;
    width: auto;
}

@media screen and (max-width: 450px) { 
.mainLogo {
    height: 250px;
}
}
    

.links {
    color: black;
    font-weight: 700;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    background-color: transparent;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.links:hover {
background-color: black;
color: whitesmoke;
}

@media screen and (max-width: 450px) { 
.links {
   font-size: 17px;
}
}

@media screen and (max-width: 390px) { 
.links {
    font-size: 15.5px;
}
}

/* --- Main --- */

.mainBody {
    display: flex;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fffffff5;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-top: 2%;
    border-radius: 2px;
    margin-bottom: 2%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.mainTitle {
    font-size: 33px;
    font-weight: 600;
    margin-top: 1%;
    margin-left: 12%;
    margin-right: 12%;
}

@media screen and (max-width: 1100px) { 
.mainTitle {
    font-size: 26px;
    margin-left: 10%;
    margin-right: 10%;
}
}    

@media screen and (max-width: 450px) { 
.mainTitle {
    font-size: 20px;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 2%;
}
}    

.mainText {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

@media screen and (max-width: 1100px) { 
.mainText {  
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    margin-top: 3%;
}
}

@media screen and (max-width: 800px) { 
.mainText {  
    margin-top: 4%;
    margin-bottom: 4%;
}
}

@media screen and (max-width: 450px) { 
.mainText {  
    font-size: 14px;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 8%;
    margin-right: 8%;
}
}

.sellTitle {
    display: flex;
    font-size: 33px;
    font-weight: 700;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 21%;
    margin-right: 21%;
}

@media screen and (max-width: 1100px) { 
    .sellTitle {
        font-size: 29px;
        margin-bottom: 3%;
    }
    }  

@media screen and (max-width: 800px) { 
    .sellTitle {
        margin-left: 12%;
        margin-right: 12%;
    }
    }  

@media screen and (max-width: 450px) { 
    .sellTitle {
        font-size: 18px;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 4%;
        margin-bottom: 6%;
    }
    }


.learnButton {
    background-color: rgba(32, 24, 24, 0.966);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}

@media screen and (max-width: 450px) { 
.learnButton {   
    font-size: 14px;
    margin-bottom: 9%;
}
}

.domoButton {
    padding-bottom: 12.5px;
    padding-left: 4%;
    padding-right: 4%;
}

.mainLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
    cursor: pointer;

}

.brandPic {
    display: block;
    height: 280px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

@media screen and (max-width: 450px) { 
.brandPic {   
    height: 245px;
}
}

/* --- Footer --- */

.footerFlex {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    font-size: 15px;
}

@media screen and (max-width: 1100px) { 
.footerFlex {
padding-top: 12px;
}
}    

.footerLink {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    font-weight: 500;
    color: rgb(199, 167, 109);
}

@media screen and (max-width: 1100px) { 
.footerLink {
    margin-left: 3%;
    margin-right: 3%;
}
}

@media screen and (max-width: 1100px) { 
.footerLink {
    font-size: 15px;
}
}

@media screen and (max-width: 1100px) { 
.numberLink{
    margin-right: 4%;
}
}

.footerInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    text-align: center;
}

@media screen and (max-width: 1100px) { 
.footerInfo {
    margin-left: 4.5%;
}
}

@media screen and (max-width: 800px) { 
.footerInfo {
    font-size: 12px;
    margin-right: 1.5%;
}
}

@media screen and (max-width: 450px) { 
.footerInfo {
    margin-top: 5.5%;
    margin-bottom: 3%;
}
}

/* --- ABOUT --- */

.aboutBody {
    display: flex;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fffffff5;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    border-radius: 2px;
    margin-bottom: 2%;
    padding-bottom: 2%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.aboutPic {
display: block;
height: 300px;
width: auto;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
box-shadow: 10px 10px 5px #ccc;
-moz-box-shadow: 10px 10px 5px #ccc;
-webkit-box-shadow: 10px 10px 5px #ccc;
-khtml-box-shadow: 10px 10px 5px #ccc;
}

@media screen and (max-width: 1100px) { 
.aboutPic {
    margin-top: 5%;
    margin-bottom: 5%;
}
}

@media screen and (max-width: 450px) { 
.aboutPic {
    margin-top: 10%;
    height: 240px;
}
}

@media screen and (max-width: 390px) { 
.aboutPic {
    height: 220px;
}
}


/* --- CONTACT ---*/

.contactBody {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fffffff5;
    height: auto;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    border-radius: 2px;
    margin-bottom: 2%;
    padding-bottom: 2%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width: 1100px) { 
.contactBody {
    padding-top: 4%;
    padding-bottom: 7%;
}
}

.contactTitle {
    font-size: 21px;
    font-weight: 600;
}

@media screen and (max-width: 1100px) { 
.contactTitle {
    font-size: 30px;
}
}

@media screen and (max-width: 800px) { 
.contactTitle {
    font-size: 25px;
}
}

@media screen and (max-width: 450px) { 
.contactTitle {
    font-size: 20px;
}
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10%;
}

@media screen and (max-width: 1100px) { 
.contactInfo {
    font-size: 27px;
}
}

@media screen and (max-width: 450px) { 
.contactInfo {
    font-size: 18px;
}
}

.infoTitle {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

@media screen and (max-width: 1100px) { 
.infoTitle {
    font-size: 40px;
}
}

@media screen and (max-width: 800px) { 
.infoTitle {
    font-size: 30px;
}
}

@media screen and (max-width: 450px) { 
.infoTitle {
    font-size: 21px;
}
}

@media screen and (max-width: 450px) { 
.infoTitle {
    font-size: 19px;
}
}

.contactText {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

@media screen and (max-width: 1100px) { 
.contactText {
    margin-bottom: 4%;
}
}


.contactMargin {
    margin-left: 5%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1100px) { 
.contactMargin {
    font-size: 25px;
}
}

@media screen and (max-width: 450px) { 
.contactMargin {
    font-size: 20px;
}
}

.contactInformation {
    margin-top: 2.1%;
}